.mobile{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 720px 1fr;
}

.video-wrapper{
  position: static !important;
  height: 500px;
}

.video {
  position: absolute;
  /*height: 500px;*/
  /*background-color: gray;*/
}

.app_author{
  font-size: 20px;
}

.Notif {
  position: relative;
  bottom: 10px;
  padding-top: 10px;
  width: 360px;
  height: 40px;
  border: 3px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.notif_content{
  background-color: transparent;
}

.detect {
  border: rgb(255, 68, 0);
  background-color: coral;
}

.success {
  border: green;
  background-color: greenyellow;
}

.invalid {
  border: red;
  background-color: rgb(221, 70, 70);
}

.icon{
  background-color: transparent !important;
  margin-left: 5px;
}

.loading {
  font-size: 24px;
  color: wheat;
  padding-top: 100px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.spiner {
  font-size: 15px;
}

.video {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
}

.btn_start{
  margin: 20px;
}

.btn{
  width: 200px;
  height: 50px !important;
  font-size: 22px;
}

.btn_content{
  font-size: 18px;
  color: #40a9ff;
  background-color: white !important;
}

.preview{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.preview_access{
  color: red;
  font-size: 16px;
  font-style: italic;
}

.videostream{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}